
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: block;
    background: linear-gradient(134.97deg,#2AB48E .07%,#5184EC 100.09%);
    text-align: center;
    flex-direction: column;
}
.heading{
    font-size: 36px;
    line-height: 45px;
    text-align: center;
}
.dashboard{
    width: 75%;
    margin: 0 auto;
    position: relative;
}
#board-cards{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
}
#board-cards li{
    list-style: none;
    width: 10%;
    border: 1px solid;
    text-align: center;
    padding: 6px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 81%;
}
.disabledelement {
    pointer-events: none;
    opacity: 0.5;
}
#board-cards .enable{
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
}
.empty-img{
    width: 64%;
}
img {
    width: 100%;
    height: auto;
}
.positions{
    position: fixed;
    top: 4%;
}
.pos1{
    left: 3%;
}
.pos2{
    right: 3%;
}
.hand-cards li{
    list-style: none;
    width: 100px;
    height: 100%;
    cursor: pointer;
}
.hand-cards{
    margin-top: 9px;
}
.red{
    background: #e31926;
    opacity: 0.8 !important;
}
.green{
    background: #04bd16;
    opacity: 0.8 !important;
}
.blue{
    background: #313bf7;
    opacity: 0.8 !important;
}
.discardCards{
    position: fixed;
    bottom: 4%;
    right: 3%;
}
.discardCards .placements{
    width: 100px;
    height: auto;
    background: #fff;
    box-shadow: 1px 1px 1px #fff, 2px 2px 1px #fff, 3px 3px 1px grey, 4px 4px 1px #fff, 5px 5px 1px #fff, 6px 6px 1px grey, 7px 7px 1px #fff, 8px 8px 1px #fff, 9px 9px 1px grey, 10px 10px 1px #fff, 11px 11px 1px #fff, 12px 12px 1px grey, 13px 13px 1px #fff, 25px 25px 15px rgb(0 0 0 / 30%);
}
